.Cars{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}