.Form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input{
    height: 30px;
    width: 20%;
    margin: 20px;

    border-radius: 10px;
    border: 2px solid black;
}
.Button{
    font-size: 30px;

    margin: 3px;

    color:snow;
    background: #259898;

    border: none;
    border-radius: 10px;
}