.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100px;
    width: 100%;

    background: aqua;
}
.Page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Details {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-end;

    height: 900px;
}
.UserPost{
    border: 2px solid black;

    margin: 5px;
    padding: 5px;
    width: 525px;
}
.UserDetails{
    border: 2px solid black;

    width: 525px;

    margin: 5px;
    padding: 5px;
}
.ContentElement{
    border: 2px solid black;

    width: 500px;

    margin: 5px;
    padding: 5px;
}